.bodrimg {border:solid 1px #CAC9C9; padding:3 3 3 3; width:180px; height:180px;}
.bodrimg img{width:100px; height:140px;cursor:pointer;filter: progid:DXImageTransform.Microsoft.Alpha (opacity=60)}
.bodrimg img.dMove{cursor:pointer;filter:progid:DXImageTransform.Microsoft.Alpha (opacity=100)}
