<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <context-param>
    <param-name>weblogic.httpd.inputCharset./*</param-name>
    <param-value>GBK</param-value>
  </context-param>
  <filter>
    <filter-name>BusinessPermission</filter-name>
    <filter-class>com.ttsoft.common.web.filter.BusinessPermissionFilter</filter-class>
    <init-param>
      <param-name>omiturls</param-name>
      <param-value>logout.do</param-value>
    </init-param>
    <init-param>
      <param-name>nopermissionurl</param-name>
      <param-value>/nopermission.do</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Loginer</filter-name>
    <filter-class>com.ttsoft.common.web.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>ssourl</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>omiturls</param-name>
      <param-value>qsgl/logout.do</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>OperationPermission</filter-name>
    <filter-class>com.ttsoft.common.web.filter.OperationPermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Loginer</filter-name>
    <servlet-name>action</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BusinessPermission</filter-name>
    <servlet-name>action</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OperationPermission</filter-name>
    <servlet-name>action</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>com.creationstar.bjtax.qsgl.servlet.StartupServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>factory</param-name>
      <param-value>com.ttsoft.framework.util.CNPropertyMessageResourcesFactory</param-value>
    </init-param>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.creationstar.bjtax.qsgl.ApplicationResources</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>loadsingleton</servlet-name>
    <servlet-class>com.ttsoft.common.web.servlet.LoadSingletonServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartupServlet</servlet-name>
    <url-pattern>/startupservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>mainMenu.jsp</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
  </taglib>
</web-app>
